* {
    background-color: darkgray;
}
.name {
    text-align: center;
    
}
.image{
    text-align: center;
    height: 10px;
    
}
div > img {
    height: 700px;
}
#img-div {
    background: white;
}